#car{
  
  width : 455px;
  
  height : 200px;
  
}

#paragraph{
  
  alignment : center;
    
    font-size : 20px;
  
  
  
}

#p2{
  
  alignment : center;
  
  font-size : 20px;
  
}

#p3{
  
  alignment : center;
  
  font-size : 20px;
  
}

#Urus{
  
  width : 500px;
  
  height : 400px;
  
}


#Urus1{
  
  alignment : center;
    
  font-size : 20px;
  
}

#p5{
  
alignment : center;
  
  font-size : 20px;
  
}
